body {
  background-color: #2c5360;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 46px;
}

div {
  margin: auto;
  width: 50%;
  height: 625px;
  background-color: #2087a8;
}

form {
  padding: 60px;
}

input {
  display: block;
  margin: auto;
  width: 87%;
  height: 44px;
}

button {
  width: 87%;
  height: 44px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-left: 6%;
}