div.mainImageContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainImageContainer h1 {
    font-size: 38px;
    color: black;
} 