.nav {
  display: flex;
  width: 100%;
  background-color: var(--header);
  justify-content: center;
}

:root {
  --header: #0b6695;
}

.navLeft,
.navRight {
  background-color: var(--header);
  width: 40%;
  height: 8vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navLeft li,
.navRight li {
  display: inline;
}

.navRight i {
  color: white;
}

.navRight {
  justify-content: flex-end;
}

.navRight ul {
  display: flex;
  gap: 20%;
}

.navLeft ul {
  padding: 0;
}

#down {
  font-size: 15px;
}

.navRight ul a {
  color: white;
}

.header {
  display: flex;
  justify-content: flex-end;
  background-color: hsl(180, 10%, 90%);
}

.rightHeader {
  height: 12vh;
  width: 50%;
  background-color: hsl(180, 10%, 90%);
  display: flex;
  align-items: center;
  gap: 7%;
  color: #4b5c74;
}

.rightHeader a {
  color: #4b5c74;
}
