body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --header: #3f6d69;
  --footer: #3f3f3f;
}

header a,
footer a {
  text-decoration: none;
}

header li,
footer li {
  padding: 0;
  margin: 0;
}

header ul,
footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav {
  display: flex;
  width: 100%;
  background-color: var(--header);
  justify-content: center;
}

.navLeft,
.navRight {
  background-color: var(--header);
  width: 40%;
  height: 8vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}

.navLeft li,
.navRight li {
  display: inline;
}

.navRight i {
  color: white;
}

.navRight {
  justify-content: flex-end;
}

.navRight ul {
  display: flex;
  gap: 20%;
}

.navLeft ul {
  padding: 0;
}

#down {
  font-size: 15px;
}

.navRight ul a {
  color: white;
}

.header {
  display: flex;
  justify-content: flex-end;
  background-color: hsl(180, 10%, 90%);
}

.rightHeader {
  height: 12vh;
  width: 50%;
  background-color: hsl(180, 10%, 90%);
  display: flex;
  align-items: center;
  gap: 7%;
  color: var(--header);
}

.rightHeader a {
  color: var(--header);
  font-weight: 700;
}

/* ................END OF HEADER.................... */

.carousel-item {
  height: 86vh;
  width: 100%;
}

.carousel-item img {
  height: 100% ;
  width: 100%;
  object-fit: cover;
  object-position: 10% 65%;
}

.contactUsContainer {
  width: 100%;
  height: 110vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 6%;
  height: 40%;
  border-top: 3px solid var(--header);
  border-radius: 2px;
}

.contactUsText {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-inline: 1% 5%;
}

.contactUsText h1 {
  color: var(--header);
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: 1000;
}

.contactUsText p {
  color: var(--header);
  font-size: 24px;
  font-weight: 350;
  color: var(--header);
}

.contactUsText button {
  background-color: var(--header);
  color: white;
  width: 34%;
  height: 6%;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 22px;
}

.contactUsImages {
  width: 60%;
  height: 100%;
  background-color: white;
  position: relative;
}

.contactUsImages img {
  position: absolute;
  width: 10%;
  height: 10%;
}

.contactUsImages img.firstImage {
  top: 20%;
  width: 50%;
  height: auto;
}

img.secondImage {
  top: 20%;
  right: 10%;
  width: 30%;
  height: auto;
}

/* .......................START OF FOOTER.............. */

div.footer {
  width: 100%;
  height: 30vh;
  background-color: var(--header);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.signUp,
div.inputSignUp {
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.signUp {
  color: white;
  font-size: 22px;
}

div.signUp h1 span {
  border-bottom: 3px solid white;
  padding-bottom: 2%;
}

div.inputSignUp input {
  height: 36%;
  width: 28%;
  border: 2px solid white;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  padding-left: 1%;
  color: white;
}

::placeholder {
  color: white;
}

.inputSignUp button {
  height: 36%;
  width: 15%;
  background-color: white;
  border: none;
  color: var(--header);
  font-size: 20px;
  font-weight: 600;
}

.contactInformation {
  width: 100%;
  height: 38vh;
  background-color: #3f3f3f;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.contact {
  width: 20%;
  height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.contact a,
.contact h3 {
  color: white;
  font-size: 20px;
}

.contact h3 {
  position: absolute;
  top: 10%;
}

.contact ul {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10%;
  position: absolute;
  top: 30%;
}

.contact i {
  color: var(--header);
  font-size: 24px;
}

#instagramIcon,
#facebookIcon {
  font-size: 44px;
}
