.jedan div, .dva div, .tri div, .cetiri div, .pet div, .sest div {
    background-color: orange;
    width: 170px;
    height: 70px;
    margin: 10px;
}

div.jedan , div.dva, div.tri, div.cetiri, div.pet, div.sest {
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 120px;
    background-color:#e392f4;
    align-items: center;
}

div.sredinaje {
    width: 120px;
}

div {
    border: 2px solid grey;
    border-radius: 15px;
}

div.jedan {
    justify-content: flex-start;
}

div.dva {
    justify-content: flex-end;
}

div.tri {
    justify-content: center;
}

div.cetiri {
    justify-content: space-between;
}

div.pet {
    justify-content: space-around;
}

div.sest {
    justify-content: space-evenly;
}