div {
    width: 600px;
    height: 400px;
    color: black;
    margin: 20px 30px 40px 50px;
    /* prva vrednost na top druga right treca bottom cetvrta left */
    margin: auto;
    border: 3px solid black;
    /* solid/ double/ dotted/dahsed/ je obicna linija */
    /* padding izmedu sadrzaja i ivice */
    padding: 20px;
}