div.card {
  width: 25%;
  height: 80px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 5px;
  padding: 10px;
}

div.card h1 {
  font-size: 20px;
  color: black;
  display: block;
  margin-block: 5px;
}

div.card h2 {
  font-size: 16px;
  display: block;
  margin-top: 5px;
  color: rgb(36, 36, 36) k;
  font-weight: 300;
}

div.card div {
  display: block;
}

.card img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
