button {
  width: 100px;
  height: 35px;
}

.buttonContainer {
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 300px;
  border: 0.1px solid rgba(146, 156, 165, 0.4);
  border-radius: 4px;
}

.buttonContainer button {
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.buttonContainer button:hover {
  cursor: pointer;

  background-color: #1c7ed6;
}
