body {
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid rgb(213, 208, 208);
}

.navLeft {
  width: 50%;
  background-color: rgb(255, 247, 232);
  height: 6.31vh;
  display: flex;
  align-items: center;
}

.navRight {
  width: 50%;
  height: 50px;
  background-color: rgb(255, 247, 232);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

.navRight a {
  margin-right: 25px;
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.563);
  font-weight: 200;
}

.navRight i {
  font-size: 25px;
  color: grey;
  background-color: transparent;
  cursor: pointer;
}

.rightHeader {
  width: 50%;
  height: 81px;
  background-color: white;
  display: flex;
  align-items: center;
  gap:  15px;
  justify-content: center;
}

.leftHeader {
  width: 50%;
  height: 81px;
  background-color: white;
  display: flex;
  align-items:center;
}

.header {
  display: flex;
  flex-direction: row;
}

.rightHeader a {
  text-decoration: none;
  font-size: 25px;
  color: grey;
}

.rightHeader button {
  border-radius: 20px;
  background-color: rgb(255, 0, 200);
  width: 15%;
  height: 40px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 17px;
}

.leftHeader h1 {
  margin-left: 125px;
}

.slikaDiv {
  background-image: url(./img/notebook\ image.jpg);
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  display: inline-block;
}

.slikaDiv h1 {
  text-align: center;
  font-size: 87px;
  color: white;
  margin-top:25px;
  margin-bottom: 0;
  font-family: Roboto;
  letter-spacing: 6.5px;
}

.slikaDiv p {
  color: white;
  text-align: center;
  font-size: 21px;
  margin: 12px 125px 0px 125px;
  line-height: 28.5px;
  font-family: Roboto;
}

.slikaDiv button {
  color: white;
  width:  212px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  margin-top: 12px;
  padding: 12px;
  cursor: pointer;
}

.bottomDiv {
  display: flex;
  flex-direction: row;
}

.divOnTheLeft {
  width: 33%;
  height: 260px;
  background-color: rgb(255, 250, 245);
}

.divOnTheLeft h3 {
  font-size: 18.75px;
  font-weight: 300;
  margin-left: 46px;
  margin-top: 37px;
  margin-bottom: 0;
}

.divOnTheLeft h1 {
  font-size: 31px;
  margin-top: 0;
  margin-left: 46px;
  font-weight: 400;
}

.divOnTheLeft p {
  margin-left: 46px;
  font-weight: 200;
  margin-right: 25px;
}

.divInTheCenter {
  width: 34%;
  height: 260px;
  background-color: rgba(202, 24, 164, 0.826);
}

.divInTheCenter h3 {
  font-size: 18px;
  font-weight: 300;
  margin-left: 46px;
  margin-top: 37px;
  margin-bottom: 0;
  color: white;
}

.divInTheCenter h1 {
  font-size: 31px;
  margin-top: 0;
  margin-left: 46px;
  font-weight: 400;
  color: white;
} 

.divInTheCenter p {
  margin-left: 46px;
  font-weight: 400;
  margin-right: 25px;
  color: white;
}

.divOnTheRight {
  width: 33%;
  height: 260px;
  background-color: black;
}

.divOnTheRight h3 {
  font-size: 18px;
  font-weight: 300;
  margin-left: 46px;
  margin-top: 46px;
  margin-bottom: 0;
  color: white;
}

.divOnTheRight h1 {
  font-size: 31px;
  margin-top: 0;
  margin-left: 46px;
  font-weight: 400;
  color: white;
}

.divOnTheRight p {
  margin-left: 46px;
  font-weight: 400;
  margin-right: 25px;
  color: white;
  font-weight: 100;
}

.bottomDiv {
  width: 100%;
}

#ovoJeIkonica {
  margin-left: 18px;
  color: grey;
  font-size: 25px;
  cursor: pointer;
}

.leftHeader h1 {
  font-family: "Annie Use Your Telescope";
}

.mozdaRadi {
  font-size: 37px;
  font-family: Roboto;
  font-weight: 200;
}

.bottomDiv {
  font-family: "Open Sans";
  font-weight: 400;
}

.bottomDiv p {
  font-size: 16px;
}