body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header.header {
  display: flex;
}

.leftHeader,
.rightHeader {
  width: 50%;
  height: 70px;
  background-color: #4a4a4a;
}

.rightHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
}

.rightHeader a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.rightHeader button {
  width: 189px;
  height: 45px;
  border-radius: 25px;
  border: 2px solid white;
  font-weight: 600;
  font-size: 18px;
  color: white;
  background-color: transparent;
  transition: 0.5s;
}

.leftHeader {
  display: flex;
  align-items: center;
}

.leftHeader a {
  margin-left: 10%;
}

.rightHeader a:hover {
  color: #f6d44f;
}

.rightHeader button:hover {
  background-color: white;
  color: #406fa5;
  cursor: pointer;
}

div.findYourWay {
  background-image: url(https://www.worldfinancialgroup.com/sites/default/files/styles/x_large_banner_hero/public/image/2022-11/wfg_home_page_crop.jpeg.webp?h=290439ac&itok=AmUCe3Yb);
  background-size: 100% 100%;
  height: 650px;
  width: 100%;
  /* clip-path: polygon(100% 0, 100% 100%, 36% 77%, 0 100%, 0 0); */
  clip-path: polygon(
    50% 0%,
    80% 0,
    100% 0,
    100% 70%,
    100% 100%,
    33% 80%,
    0 100%,
    0% 70%,
    0 0,
    16% 0
  );
  position: relative;
}

div.text {
  position: absolute;
  top: 30%;
  left: 8%;
  right: 40%;
}

div.text h1 {
  color: white;
  font-size: 61px;
  line-height: 30px;
  font-weight: 800;
}

div.text p {
  font-size: 18px;
  color: white;
  line-height: 25px;
}

div.text button {
  color: white;
  background-color: rgb(86, 86, 255);
  border-radius: 30px;
  width: 180px;
  height: 45px;
  border: none;
  font-size: 19px;
  font-weight: 600;
  transition: background-color 0.5s;
}

div.text button:hover {
  color: rgb(86, 86, 255);
  background-color: white;
  cursor: pointer;
  border: 2px solid white;
}

div.pursue h1,
div.strategies h1 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 1%;
}

div.pursue h1,
div.strategies h1:not(.unitedStates) {
    color:rgb(74, 74, 74) ;
    font-size: 50px;
}

div.pursue span,
div.strategies span {
  color: #4479bd;
}

.twoColumns {
  display: flex;
  margin: 0% 9%;
}

.twoColumns p {
  font-size: 18px;
  font-weight: 350;
  color: rgb(74, 74, 74);
  line-height: 25px;
  margin: 0px 5px;
  margin-bottom: 10px;
}

.image1 img {
  width: 100%;
}

div.icons {
  width: 100%;
  height: 750px;
  background-color: #4479bd;
  margin-top: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  position: relative;
}

div.iconDiv {
  color: white;
  width: 22%;
}

div.iconDiv h3 {
  font-size: 24px;
  font-weight: 700;
}

div.iconDiv p {
  font-size: 18px;
  font-weight: 350;
  line-height: 22px;
}

div.iconDiv i {
  text-align: center;
  font-size: 100px;
  position: absolute;
  top: 20%;
}

.iconDiv #roof {
  left: 17%;
}

.iconDiv #child {
  left: 47%;
}

.iconDiv #group {
  right: 20%;
}

.iconDiv button {
  width: 169px;
  height: 48px;
  background-color: white;
  color: rgb(86, 86, 255);
  border-radius: 20px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  margin-left: 22%;
  transition: background-color 0.5s;
  margin-top: 4%;
}

.iconDiv button:hover {
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid white;
}

div.disclaimer {
  position: relative;
  top: -200px;
  margin: 0% 23%;
  text-align: center;
  color: white;
  line-height: 22px;
  font-size: 16px;
}

.strategies h1 {
  margin: 0;
}

.strategies p {
  margin: 0% 12%;
  text-align: center;
  color: #4a4a4a;
  line-height: 1.625rem;
  font-size: 20px;
}

.strategies h1.unitedStates {
  color: rgb(86, 86, 255);
  margin-top: 50px;
  font-size: 2.0625rem;
}
