* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  margin: 40px;
  height: 30px;
  padding-inline: 5px;
  font-size: 20px;
}

div.content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 100px;
}

div.card {
  width: 170px;
  height: 200px;
  background-color: lightblue;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

div.pagination button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid grey;
}

div.pagination {
  margin-inline: 40px;
  display: flex;
  gap: 10px;
}
